@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;   
}

body {
    width: 100vw;
    height: 100vh;
    background: #5552ff;
}

h1 {
    color:#ececec;
}

h1::after { 
    content: "";
    display: block;
    width: 7,5rem;
    height: .25rem;
    background-color: #5552ff;
    margin: .5rem auto 0;

}

.content {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(51, 51, 51);
    background: #272530;
    border-radius: 1rem;
    box-shadow: 4px 6px 5px 7px rgb(37, 37, 37);
    min-width: 10rem;
    max-width: 35rem;
    min-height: 5rem;
    max-height: 50rem;
    margin-top: 2.5rem;
    padding: 3rem 0rem 0rem 0rem;
}

main {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

section {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 0.625rem;
}

.alerta {
    background: #f44336;
    border-radius: 5px;
    padding: .5rem;
    margin: 1rem;
}

/* CLASS PARA FORMATAR COM JS */


.aprovado {
    color: #64dd17; 
}

.reprovado {
    background: #f44336;
}

.recuperacao {
    background: #ffc107;
}

/* FORMULARIO */

form {
    margin: 1rem;
}

/* DIV DOS INPUTS */

.form-group {
    margin: 1.5rem;
    width: 17.5rem;
    position: relative;
}

/* INPUTS */

input[type=number], input[type=text] {
    padding: 5px;
    text-align: center;
}

.cx, input[type=text] {
    border-radius: 5px;
}

.label {
    position: absolute;
    left: .525rem;
    top: .875rem;
    transition: all .2s;
    padding: 0 .125rem;
    z-index: 1;
    color: #b3b3b3;
    user-select: none;
}

.text-input,
.input-sit {
    padding: .8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #2f2c45;
    background: #272530;
    border-radius: 5px;
    font-size: 1.125rem;
    outline: none;
    transition: all .3s;
    color: #fff
}

/* Estilo da class label e input */

.label::before {
    content: '';
    height: .3125rem;
    background: #272530;
    position: absolute;
    left: 0;
    top: .625rem;
    width: 100%;
    z-index: -1;
}

.text-input:focus,
.input-sit:focus,
.text-input:hover,
.input-sit:hover {
    border: 2px solid #5552ff;
}

.text-input:focus, .label {
    top: -.625rem;
    color:#7471ff;
    font-size: 1.125rem;
    text-shadow: .0938rem .0625rem .125rem rgba(8, 8, 8, 0.493);
}

.text-input:hover { 
    color:#7471ff;
}

.text-input::placeholder {
    font-size: 1rem;
    opacity: 0;
    transition: all .3s;
}

.text-input:focus::placeholder {
    opacity: 1;
}

.text-input:not(:placeholder-shown) + .label {
    top: -.625rem;
    color:#5552ff;
    font-size: 18;

}

/* BOTOES */

.form-group button {
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.button-display {
    display: flex;
    justify-content: space-around;
    
}

button:hover {
    box-shadow: 2px 3px 4px #000000;
}

#btnCalcular {
    background: #18218a;
    margin-left: 2.8rem;
}

#btnLimpar {
    background: #ff3300;
    margin-left: 5rem;
}

#btnCalcular,
#btnLimpar {
    border: 1.5px solid #212027;
    width: 4rem;
    height: 2rem;

}
